
/***** MIS ESTILOS *****/

header {

	font-family: 'Raleway', sans-serif;

}

h3 {

	color: #747704;
}

.wrapper img {

	width: 500px;
	height: 250px;
	text-align: center;

}

.wrapper {
	
	display: inline-block;
}